@charset "utf-8";
/* CSS Document */


	body
		{
			background-color:cornflowerblue;
			background-image: url("forest_back1.jpg");
			background-repeat: no-repeat, repeat;
			background-position:top;
			background-size: cover;
			text-align: center;
			overflow: scroll;
			
			font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
		}

	p
{background-color: khaki;
	color:black;
font-size: 30px;}

li
{font-size: 25px;
color: khaki}

	nav {float:none;
		margin-right:250px;
		margin-left:250px;
		}

	nav ul li
	{
		list-style-type: none;
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
		display:inline-block;
		text-align:center;
	}
h1
{font-size: 30px;}

h2
{font-size: 40px;}

h3
{font-size: 40px;}

h4
{font-size: 40px;}

h5
{font-size: 40px;}